.comment-reply-to{background:url(//web.archive.org/web/20210915215236im_/http://static.hsappstatic.net/pictos_images/static-1.29/img/pictos-1-png/16/pictos-set1-21.png) no-repeat 5px;border:none;padding-left:25px;color:#333}.replying{padding-left:2em}.comment-date,.comment-from{display:inline-block}.comment-from h4{font-size:1.2em;font-weight:700}.comment-date{font-size:.8em;color:#666}#comment-form h4{font-size:1.4em}.comment.depth-0{border-top:2px solid #eee;padding-top:2em;margin-top:2em}.comment.depth-0:first-child{margin-top:0}.comment.depth-1{padding-left:2em}.comment.depth-2{padding-left:4em}.comment.depth-3{padding-left:6em}.comment.depth-4{padding-left:8em}.comment.depth-5{padding-left:10em}.comment.depth-6{padding-left:12em}.comment.depth-7{padding-left:14em}.comment.depth-8{padding-left:16em}.comment.depth-9{padding-left:18em}.shuffle{display:none}.hs_subscribe ul{padding-left:0}.hs_subscribe li{list-style:none}.hs-common-confirm-message{background-color:#cde3cc!important;border:1px solid #360!important;color:#360!important;font-size:15px!important;border-radius:3px!important;padding:8px!important;margin:8px 0!important}


/*
     FILE ARCHIVED ON 21:52:36 Sep 15, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:20:41 Nov 25, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.111
  exclusion.robots: 0.044
  exclusion.robots.policy: 0.027
  esindex: 0.014
  cdx.remote: 6.657
  LoadShardBlock: 109.951 (3)
  PetaboxLoader3.datanode: 350.323 (5)
  load_resource: 433.603
  PetaboxLoader3.resolve: 173.883
  loaddict: 68.22
*/